%h1= "Edit Specialty List"

-@specialty_list.electronics.each_with_index do |word, index|
  .electronics{:id => "electronics#{index}"}= unregex(word)


= form_for @specialty_list do |f|
  %p
    = label_tag "Electronics"
    = text_field_tag :electronics
  %p
    = label_tag "Mechanical"
    = text_field_tag :mechanical
  %p.button
    = f.submit

:javascript
  javascript_tag "edit_specialty_lists"
