= form_for @employee do |f|
  %p
    = f.label "Title:"
    = f.text_field :title
  %p
    = f.label "Office:"
    - @offices.each do |office|
      = f.label "#{office.street_address}"
      = f.radio_button :office_id, office.id
  %p.button
    = f.submit

= link_to 'Remove', employee_path(@employee.id), :method => 'delete'
