%h1= "#{@company.name} Employee Roster"

= form_for @employee do |f|
  %p
    = label '', "Employee Email:"
    = text_field_tag :email
  %p
    = f.label "Title:"
    = f.text_field :title
  %p
    = f.label "Office:"
    - @offices.each do |office|
      = f.label "#{office.street_address}"
      = f.radio_button :office_id, office.id
    = hidden_field_tag :company_id, @company.id
    %br
  %p.button
    = f.submit
