%h1= "Edit #{@company.name}"
= link_to 'Add Employee to Company', new_company_employee_path(@company.id)

= form_for @company do |f|
  %p
    = f.label "Company Name:"
    = f.text_field :name
  %p.button
    = f.submit

