<%= link_to "Create RFI", new_rfi_path %>
<% if @messages %>
  <% @messages.each do |message, match| %>
    <h4><%= link_to message.subject, rfi_path(message.id) %></h4><h3><%= "#{match}%" %></h3>
    <%= link_to "Respond", {:controller => "rfis", :action => "new", :parent_id => message.id, :receiver_id => message.sender_id } %>
    <% if message.attachments.count > 0 %>
      <% message.attachments.each do |attachment| %>
        <% if attachment.attachment_url =~ /(.jpg|.png)/ %>
          <%= link_to image_tag(attachment.attachment_url(:thumb)), attachment.attachment_url.to_s %>
        <% else %>
          <%= link_to attachment.attachment_url.to_s, attachment.attachment_url.to_s %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
