%h1= "Create RFI"

= form_for @rfi do |f|
  %p
    = f.label "Body"
    = f.text_area :body
    %br
    = f.label "Street Address"
    = f.text_field :street_address
    %br
    = label :miles, "Within"
    = text_field_tag :miles
    = label :miles , "Miles of me"
  %p.button
    = f.submit
