<h1><%= @rfi.subject %></h1>
<%= @rfi.body %>
<div id='response'>
  <%= link_to "Respond", {:controller => "rfis", :action => "new", :parent_id => @rfi.id, :receiver_id => @rfi.sender_id } %>
</div>
<% if @rfi.attachments.count > 0 %>
  <% @rfi.attachments.each do |attachment| %>
    <% if attachment.attachment_url =~ /(.jpg|.png)/ %>
      <%= link_to image_tag(attachment.attachment_url(:thumb)), attachment.attachment_url.to_s %>
    <% else %>
      <%= link_to attachment.attachment_url.to_s, attachment.attachment_url.to_s %>
    <% end %>
  <% end %>
<% end %>
