<!DOCTYPE html>
<html>
<head>
  <title>Otacon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= yield :head_pub_key %>
</head>
<body>
  <div class="container">
  <%= render :partial => "shared/header" %>
  <% if signed_in? %>
    <% unless current_user.company %>
      <%= link_to 'Create Company', new_company_path, :class => 'nav-link' %>
    <% end %>
    <%= link_to "RFIs", Employee.find_by_user_id(current_user.id) ? rfis_path : my_rfis_path, :class => 'nav-link' %>
    <% if Employee.find_by_user_id(current_user.id) %>
      <%= link_to "Edit Specialty List", edit_specialty_list_path(current_user.id), :class => 'nav-link' %>
    <% end %>
    <% if company = Company.find_by_admin_id(current_user.id) %>
      <%= link_to "Company Admin Page", edit_company_path(company.id), :class => 'nav-link' %>
    <% end %>
  <% end %>
</div>
<div class='alerts'>
  <%= flash[:error] %>
  <%= flash[:success] %>
  <%= flash[:alert] %>
</div>
<%= yield %>

</body>
</html>
