<!DOCTYPE html>
<html>
<head>
  <title>Otacon</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <%= yield :head_pub_key %>
</head>
<body>
  <header>
    <div class="container">
      <%= render :partial => "shared/header" %>
      <span class='top-links'>
        <ul>
          <% if signed_in? %>
            <% unless current_user.admin_of %>
              <li>
                <%= link_to 'Create Company', new_company_path %>
              </li>
            <% end %>
            <% if current_user.company %>
              <li>
                <%= link_to "RFIs", current_user.company.subscription.active ? rfis_path : my_rfis_path %>
              </li>
              <li>
                <%= link_to "Edit Specialty List", edit_specialty_list_path(current_user.id) %>
              </li>
            <% else %>
              <li>
                <%= link_to "RFIs", my_rfis_path %>
              </li>
            <% end %>
            <li>
              <%= link_to "Edit My Profile", edit_user_path(current_user.id) %>
            </li>
            <% if company = Company.find_by_admin_id(current_user.id) %>
              <li>
                <%= link_to "Company Admin Page", edit_company_path(company.id) %>
              </li>
            <% end %>
          <% end %>
        </ul>
      </span>
    </div>
  </header>
  <div class="container">
    <%= flash[:error] %>
    <%= flash[:success] %>
    <%= flash[:alert] %>
  </div>
  <div class='content'>
  <%= yield %>
</div>

</body>
</html>
